#appsTable {
	width: 40%;
}
#appsTable th.appName {
	width: 45%;
}
#appsTable th.api {
	width: 45%;
}

#appsTable th.delete {
	width: 10%;
}

#statsContainer table {
	width: 60%;
	min-width: 400px;
}

legend {
/*	text-align: center;*/
	font-weight: bold
}

div#statsBox table {
	width: 50%;
}

div#statsBox table td.rowHeader{
	width: 60%;
}


