<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Twitter data acquisition Web Application</display-name>
	<context-param>
		<param-name>friendGraphDepth</param-name>
		<param-value>0</param-value>
	</context-param>
	<context-param>
		<param-name>followerGraphDepth</param-name>
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>mentionDepth</param-name>
		<param-value>2</param-value>
	</context-param>
	<context-param>
		<param-name>geospatialFilterOn</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>gazetteerFilePath</param-name>
		<param-value>/Users/shubhamgupta/Documents/eclipse/workspace/TwitterDataAcquisition/data/middle-east-gazatteer-v2.csv</param-value>
	</context-param>
	<context-param>
		<param-name>filterType</param-name>
		<param-value>soft</param-value>
	</context-param>
	<context-param>
		<param-name>DBName</param-name>
		<param-value>twitter</param-value>
	</context-param>
	
<!-- 	<listener> -->
<!--     	<listener-class>edu.isi.twitter.WebappStartupManager</listener-class> -->
<!-- 	</listener> -->

	<servlet>
		<servlet-name>SetupServlet</servlet-name>
		<servlet-class>edu.isi.webserver.SetupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetupServlet</servlet-name>
		<url-pattern>/SetupServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddApplicationServlet</servlet-name>
		<servlet-class>edu.isi.webserver.AddApplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddApplicationServlet</servlet-name>
		<url-pattern>/AddApplicationServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetStatisticsServlet</servlet-name>
		<servlet-class>edu.isi.webserver.GetStatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStatisticsServlet</servlet-name>
		<url-pattern>/GetStatisticsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAppConfigServlet</servlet-name>
		<servlet-class>edu.isi.webserver.GetAppConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAppConfigServlet</servlet-name>
		<url-pattern>/GetAppConfigServlet</url-pattern>
	</servlet-mapping>
</web-app>
